.logPage{
    display: flex;
    justify-content: center;
}
h3 {
    margin-bottom: 5vh;
}
 
 
.logContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 40vh;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-bottom: 5vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5vh;
    margin-top: 10vh;
    color: white;
}
 
.logInput {
    margin-bottom: 2vh;
    min-height: 4vh;
}
 
.logButton {
    margin-bottom: 6vh;
    background-color: rgb(14, 128, 153);
    color: white;
    border: none;
    border-radius: 3vh;
    min-height: 4vh                                                                                                                                                                                                                                                                     ;;
}
 
.logButton:hover {
    cursor:  pointer;
}
body{
    background: url(https://www.shutterstock.com/image-photo/big-set-professional-black-barber-600nw-2250444917.jpg) fixed no-repeat center/cover;
}
.photo{
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}
h2{
    color: #ffffff;
    justify-content: center;
    display: flex;
    padding: 5vh;
}